
## Last commit: 2026-03-29 12:43:13 UTC by root
version 18.2R1.9;
system {
    login {
        class super-user-local {
            idle-timeout 3600;
            permissions all;
        }
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$8DrK0gY3$qltK8hDBmxVB558Ix3zAdeMz3bN4hjio3QCWwvai4Y7Xlf0VooSxSmmhWroGBtcl/0YsRfd8e7SErvTIY4vvX1";
            }
        }
        user ntc {
            uid 2000;
            class super-user-local;
            authentication {
                encrypted-password "$6$Jb4pV0VD$pc/aqMCWfTspi32iuDxWdwDvD62ijsXenDc8Q9Soum30vpvu2E2UxreucuJVRD.kn8c5rkJa0Lk9Ha42/TvZW.";
            }
        }
    }
    root-authentication {
        encrypted-password "$6$Z5pgyCKJ$XFMRbBTMD.RjKlOtzCyUjcumTSnXDv6iX2HvhYr9dF3fJXsJeTP5Vms0lN7BzaQHyh8.nwUmsF.OBgBm/G.Dz1";
    }
    host-name vmx2;
    domain-name ntc.com;
    management-instance;
    services {
        ssh;
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 57400;
                    }
                    max-connections 4;
                }
            }
        }
        netconf {
            ssh;
            rfc-compliant;
        }
    }
    syslog {
        inactive: user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 20;
        }
        lite-mode;
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/5 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/7 {
        unit 0 {
            family inet;
        }
    }
    fxp0 {
        unit 0 {
            description MANAGEMENT_INTEFACE__DO_NOT_CHANGE;
            family inet {
                address 10.0.0.15/24;
            }
        }
    }
}
protocols {
    lldp {
        transmit-delay 5;
        port-id-subtype interface-name;
        interface all;
        interface fxp0;
    }
}
routing-instances {
    mgmt_junos {
        description "Management VRF";
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
